<!doctype html>
<html lang="el" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>User panel | {% block page_title %}{% endblock %}</title>
        <meta name="author" content="Stefanos i. Tsaklidis">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" > -->
        <link rel="shortcut icon" type="image/icon" href="{{ static('home_logs/img/favicon.ico') }}?ver=2.0"/>

        <link href="{{ static('home_logs/css/base_nav.css') }}" rel="stylesheet" type="text/css">  
        {% block site_css %}{% endblock %}
        {% block extra_head %}{% endblock%}

    </head>

    <body class="d-flex flex-column h-100">
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3 text-center">
                    {% block main %}{% endblock main %}
                </main>
            </div>
        </div>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <hr>
                <div class="footer-text text-center">All Rights Reserved &copy;
                <a href="https://tsaklidis.gr" title="Developer: Stefanos I. Tsaklidis">Developed by Stefanos I. Tsaklidis</a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
        {% block site_js %}{% endblock %}
    </body>


</html>
