{% extends "base_nav.html" %}

{% block page_title %}Home{% endblock %}
{% block site_css %}
    <link href="{{ static('home_logs/css/panel/home.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('user:home') }}">Houses</a></li>
        </ol>
    </nav>
    <hr>
	{% for house in houses %}
        <a href="{{ url('user:house', args=[house.uuid]) }}">
    		<div class="house_wrp">
    			<h5>{{house.name}}</h5>
                <div class="house_info">UUID: {{house.uuid}} </div>
    			<div class="house_info">Sensors: {{house.sensors_count}}</div>
    			<div class="house_info">Spaces: {{house.spaces_count}}</div>
    		</div>
        </a>

	{% endfor %}

{% endblock %}

{% block site_js %}
	<script type="text/javascript">
        $(document).ready(function() {
            $('#house').addClass('active');
        });   
    </script>
{% endblock %}