{% extends "base_nav.html" %}

{% block page_title %}Home{% endblock %}
{% block site_css %}
    <link href="{{ static('home_logs/css/panel/home.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('user:home') }}">Houses</a></li>
        </ol>
    </nav>
    <hr>
    {% if houses %}
        <h4 class="title_line">Available houses</h4>
    	{% for house in houses %}
            <a href="{{ url('user:house', args=[house.uuid]) }}">
        		<div class="house_wrp">
                    <div class="house_name color_five">{{house.name}}</div>
                    <div class="info_wrp">
            			<div >Spaces: {{house.spaces_count}}</div>
            			<div >Sensors: {{house.sensors_count}}</div>
                        <div >UUID: {{house.uuid}} </div>
                        <div >Created: {{house.created_on.strftime('%Y-%m-%d')}} </div>

                    </div>
        		</div>
            </a>

    	{% endfor %}
    {% else %}
        <div class="alert alert-info">No registered house</div>
    {% endif %}

{% endblock %}

{% block site_js %}
	<script type="text/javascript">
        $(document).ready(function() {
            $('#house').addClass('active');
        });   
    </script>
{% endblock %}