{% extends "base_nav.html" %}

{% block page_title %}Space | {{space.name}} {% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ static('home_logs/css/panel/space.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('user:home') }}">Houses</a></li>
            <li class="breadcrumb-item"><a href="{{ url('user:house', args=[space.house.uuid]) }}">{{space.house.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{space.name}}</li>
        </ol>
    </nav>
    <input type="hidden" id="token" value="{{token}}">
    <div class="row">
        <div class="col-lg-12">
            {% for sensor in space.sensors.all() %}
                <canvas class="canvas_chart" id="can_{{sensor.uuid}}"></canvas>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="get" action="." id="filters">
                <input type="text" class="text-center" name="date" id="datepicker" >
                <p style="margin:5px;">Hours Range</p>
                <input type="text" class="text-center" placeholder='15' name="hour_from" id="hour_from" required>
                <input type="text" class="text-center" placeholder='22' name="hour_to" id="hour_to" required>
                <br><br>
                <button class="btn btn-sm btn-info">OK</button>
            </form>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Name</th> <th>UUID</th>
                </tr>
                {% for sensor in space.sensors.all() %}
                    <tr>
                        <td>{{sensor.name}}</td> <td>{{sensor.uuid}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br> <br>
{% endblock %}

{% block site_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">
    // IGNORE THIS MESS
    // SEARCHING FOR FRONT-END DEVELOPER
    var token;
    var body;
    var vals = [];
    var times = [];

    var $_GET = {};
    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
        function decode(s) {
            return decodeURIComponent(s.split("+").join(" "));
        }
        $_GET[decode(arguments[1])] = decode(arguments[2]);
    });

    var same_options = {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: true ,
                  color: "#4D4D4D"
                },
            }],
            xAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: false ,
                  color: "#4D4D4D"
                },
            }]
        }
    };

    function draw_chart(sensor_name, sns_uuid,){
        if (sns_uuid) {
            sensor_name = sensor_name.split('_')[0];

            var ctx = document.getElementById("can_"+sns_uuid).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: times, 
                    datasets: [{
                        label: sensor_name,
                        data: vals,
                        "fill":true,
                        backgroundColor: [
                            'rgba(247, 100, 247, 0.3)',
                        ],
                        borderColor: [
                            'rgba(247, 100, 247, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: same_options
            });

            vals = [];
            times = [];
        }
    }

    function recursively_ajax(link, this_sensor_name, this_sensor_uuid) {
            $.ajax({
                type: 'GET', 
                url: link, 
                data: body, 
                dataType: 'json',
                headers: { "Authorization": "Token " + token },
                success: function (data) {
                    $.each(data.results, function (index, r) {
                        // collect paginated data
                        vals.push(r.value); 
                        times.push(r.time); 
                    });

                    if(data.next){
                        // if there is more paginated data visit next pages
                        recursively_ajax(data.next);
                    }
                },
                complete: function (data) {
                    draw_chart(this_sensor_name, this_sensor_uuid);
                }

            });
        }



    $(document).ready(function() {
        $('#spaces').addClass('active');
        token = $('#token').val();
        var date = new Date();
        $('#datepicker').datepicker({
            dateFormat: 'dd-M-yy',
            maxDate: '0',
        });
        $('#datepicker').datepicker('setDate', date);
        
        Chart.defaults.global.defaultFontColor = "#fff";
        var space = "{{space.uuid}}";
        var sensors = { {% for sensor in space.sensors.all() %} "{{sensor.name}}_{{sensor.uuid}}":"{{sensor.uuid}}", {% endfor %} }

        // Struct Example:
        // sensors = {
        //     "sensor.name" : 'sensor.uuid',
        //     "LM35" : 'dk85tgt',
        //     "DHT22" : 'asd834df',
        // }
        $.each(sensors, function (sensor_name, sensor_uuid) {
            body = {
                "space_uuid":   space,
                "sensor_uuid":  sensor_uuid,
                "date__month":  date.getMonth() + 1,
                "date__day":    date.getUTCDate(),
                "time__hour__gte": date.getHours() - 1
            }
            if ($_GET['hour_from']) {
                $('#hour_from').val($_GET['hour_from'])
                body['time__hour__gte'] = $_GET['hour_from']
            }
            if ($_GET['hour_to']) {
                $('#hour_to').val($_GET['hour_to'])
                body['time__hour__lte'] = $_GET['hour_to']
            }
            if ($_GET['date']) {
                $('#datepicker').val($_GET['date'])
                body['date__day'] = $_GET['date'].split('-')[0]
            }
            recursively_ajax('/api/measurement/list/', sensor_name, sensor_uuid);
            

        });

        console.log("%c IF YOU ARE A FRONT-END DEVELOPER, CONTACT ME! stefanos@tsaklidis.gr", "background: #FF4545; color: #FFFFFF")
    });
</script>
{% endblock %}