{% extends "base_nav.html" %}

{% block page_title %}Space | {{space.name}} {% endblock %}
{% block site_css %}
    <link href="{{ static('home_logs/css/panel/space.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('user:home') }}">Houses</a></li>
            <li class="breadcrumb-item"><a href="{{ url('user:house', args=[space.house.uuid]) }}">{{space.house.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{space.name}}</li>
        </ol>
    </nav>
    <input type="hidden" id="token" value="{{token}}">
    
    {% for sensor in space.sensors.all() %}
        <div class="canvas_wrp">
            <canvas id="can_{{sensor.uuid}}"></canvas>
        </div>
    {% endfor %}
{% endblock %}

{% block site_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">
    // IGNORE THIS MESS
    // SEARCHING FOR FRONT-END DEVELOPER
    var token;
    var body;
    var vals = [];
    var times = [];

    var same_options = {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: true ,
                  color: "#4D4D4D"
                },
            }],
            xAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: false ,
                  color: "#4D4D4D"
                },
            }]
        }
    };

    function draw_chart(sensor_name, sns_uuid,){
        if (sns_uuid) {
            var ctx = document.getElementById("can_"+sns_uuid).getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: times, 
                    datasets: [{
                        label: sensor_name,
                        data: vals,
                        "fill":true,
                        backgroundColor: [
                            'rgba(247, 100, 100, 0.3)',
                        ],
                        borderColor: [
                            'rgba(247, 100, 100, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: same_options
            });

            vals = [];
            times = [];
        }
    }

    function recursively_ajax(link, this_body, this_sensor_name, this_sensor_uuid) {
            $.ajax({
                type: 'GET', 
                url: link, 
                data: this_body, 
                dataType: 'json',
                headers: { "Authorization": "Token " + token },
                success: function (data) {
                    $.each(data.results, function (index, r) {
                        // collect paginated data
                        vals.push(r.value); 
                        times.push(r.time); 
                    });

                    if(data.next){
                        // if there is more paginated data visit next pages
                        recursively_ajax(data.next);
                    }

                },
                complete: function (data) {
                    draw_chart(this_sensor_name, this_sensor_uuid);
                }

            });
        }



    $(document).ready(function() {
        console.log("IF YOU ARE A FRONT-END DEVELOPER, CONTACT ME!")
        $('#spaces').addClass('active');
        token = $('#token').val();
        var date = new Date();
        
        Chart.defaults.global.defaultFontColor = "#fff";
        var space = "{{space.uuid}}";
        var sensors = { {% for sensor in space.sensors.all() %} "{{sensor.name}}_{{sensor.id}}":"{{sensor.uuid}}", {% endfor %} }

        // Struct Example:
        // sensors = {
        //     "sensor.name" : 'sensor.uuid',
        //     "LM35" : 'dk85tgt',
        //     "DHT22" : 'asd834df',
        // }
        $.each(sensors, function (sensor_name, sensor_uuid) {
            body = {
                "space_uuid":   space,
                "sensor_uuid":  sensor_uuid,
                "date__month":  date.getMonth() + 1,
                "date__day":    date.getUTCDate()
            }
            recursively_ajax('/api/measurement/list/', body, sensor_name, sensor_uuid);
            

        });


    });
</script>
{% endblock %}