{% extends "base_nav.html" %}

{% block page_title %}Space | {{space.name}} {% endblock %}
{% block site_css %}
    <link href="{{ static('home_logs/css/panel/space.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('user:home') }}">Houses</a></li>
            <li class="breadcrumb-item"><a href="{{ url('user:house', args=[space.house.uuid]) }}">{{space.house.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{space.name}}</li>
        </ol>
    </nav>
    <input type="hidden" id="token" value="{{token}}">
	
    {% for sensor in space.sensors.all() %}
        <div class="canvas_wrp">
            <canvas id="can_{{sensor.uuid}}"></canvas>
        </div>
    {% endfor %}
{% endblock %}

{% block site_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">
    var body;
    var same_options = {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: true ,
                  color: "#4D4D4D"
                },
            }],
            xAxes: [{
                ticks: {
                    // beginAtZero:true,
                },
                gridLines: {
                  display: false ,
                  color: "#4D4D4D"
                },
            }]
        }
    };

    function draw_chart(index, sns, vals, times){
        var ctx = document.getElementById("can_"+sns).getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times, 
                datasets: [{
                    label: index,
                    data: vals,
                    "fill":true,
                    backgroundColor: [
                        'rgba(247, 100, 100, 0.3)',
                    ],
                    borderColor: [
                        'rgba(247, 100, 100, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: same_options
        });
    }



    $(document).ready(function() {
        $('#spaces').addClass('active');
        var token = $('#token').val();
        var date = new Date();
        var vals = [];
        var times = [];
        
        Chart.defaults.global.defaultFontColor = "#fff";
        var space = "{{space.uuid}}";
        var sensors = { {% for sensor in space.sensors.all() %} "{{sensor.name}}":"{{sensor.uuid}}", {% endfor %} }

        function recursively_ajax(link, this_body) {
            // console.log(link)
            $.ajax({
                type: 'GET', 
                url: link, 
                data: this_body, 
                dataType: 'json',
                async: false,
                headers: { "Authorization": "Token " + token },
                success: function (data) {
                    $.each(data.results, function (index, r) {
                        vals.push(r.value); 
                        times.push(r.time); 
                    });

                    if(data.next){
                        recursively_ajax(data.next);
                    }

                }
            });
        }


        $.each(sensors, function (index, sns) {
            body = {
                "space_uuid":space,
                "sensor_uuid":sns,
                "date__month": date.getMonth(),
                "date__day": date.getUTCDate()
            }
            recursively_ajax('/api/measurement/list/', body);
            draw_chart(index, sns, vals, times);

        });


    });
</script>
{% endblock %}