<!DOCTYPE html>
<html>
<head>
    <title>Weather Station on Aleksi Minoti (Kozani) - Stefanos I. Tsaklidis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://gitlab.com/steftsak/home-station/raw/master/screens/1.png"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ static('home_logs/css/public/common.css') }}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 id="title">Weather station at Aleksi Minoti (Kozani)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="wrp">
                <div>Temperature</div>
                <div class="circle color_one">
                    <span id="ds18b20"></span><span> &#8451;</span>
                </div>
            </div>
            <div class="wrp">
                <div>Humidity</div>
                <div class="circle color_two">
                    <span id="dht22_h"></span><span> %</span>
                </div>
            </div>

            <div class="wrp">
                <div>Pressure</div>
                <div class="circle color_ten">
                    <span id="bmp280"></span><span> hPa</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="min_max_wrp">
                <h6>Max/Min values of the day</h6>
                <table class="table table-dark">
                    <tbody>
                    <tr>
                        <td>Temperature</td>
                        <td>
                            <span id="min_tempr">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> &#8451; /
                            <span id="max_tempr">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> &#8451;
                        </td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td>
                            <span id="min_hum">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> % /
                            <span id="max_hum">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> %
                        </td>
                    </tr>
                    <tr>
                        <td>Pressure</td>
                        <td>
                            <span id="min_prs">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> hPa /
                            <span id="max_prs">
                                <img class="loading" src="{{ static('home_logs/img/loading.gif') }}" alt="loading">
                            </span> hPa
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="stats_wrp">
                <p>
                    The visualized data in charts is from  last 4 hours
                </p>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12 text-center">
            <canvas id="temperature"></canvas>
            <canvas id="humidity"></canvas>
            <canvas id="pressure"></canvas>
            <canvas id="system"></canvas>
            <canvas id="wifi"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="stats_wrp">
                <h6>Info</h6>
                <div class="wrp_system text-left">
                    <table class="table table-dark">
                        <tbody>
                        <tr>
                            <td>City</td> <td>Kozani</td>
                        </tr>
                        <tr>
                            <td>Location coordinates</td> <td>40.309763937150024, 21.78577139587162</td>
                        </tr>
                        <tr>
                            <td>Updates</td> <td>Every 5 minutes</td>
                        </tr>

                        <tr>
                            <td>First measurement:</td> <td>09-Οκτ-2021</td>
                        </tr>
                        <tr>
                            <td>Last measurement</td>
                            <td><span id="last"></span></td>
                        </tr>
                        <tr>
                            <td>Total measurements</td> <td>{{total_ms}}</td>
                        </tr>

                        <tr>
                            <td>Power</td> <td>Plugged-in</td>
                        </tr>
                        <tr>
                            <td>Notes</td> <td> - </td>
                        </tr>
                        <tr>
                            <td>Language</td> <td>Greek:
                            <a href="{{ url('public:public_el', args=['gr'] )}}">
                                <img src="{{ static('home_logs/img/gr.png') }}"alt="GR">
                            </a>
                        </td>
                        </tr>
                        <tr>
                            <td>Open data</td> <td><a
                                href="https://github.com/tsaklidis/LogingAPI/blob/master/README_API.md">Πληροφορίες API</a></td>
                        </tr>
                        <tr>
                            <td>Github</td> <td><a
                                href="https://github.com/tsaklidis/LogingAPI">LogingAPI Project</a></td>
                        </tr>
                        <tr>
                            <td>Developed by</td> <td><a href="https://tsaklidis.gr"> Stefanos I. Tsaklidis</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>
<script src="{{ static('home_logs/js/data.js') }}"></script>
</body>
</html>