.sensor_chart{
	max-width: 600px;
	display: inline-block !important;
}
.house_wrp  {
    background-color: #5c7995;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    width:250px;
    height: 200px;
}
.house_info {
    border-bottom: 1px solid #99ABBD;
    margin-bottom: 10px;
}
.space_wrp {
    display: inline-block;
    background-color: #5c7995;
    color: white;
    width: 250px;
    height: 300px;
    padding: 15px;
    border-radius: 4px;
}
.space_wrp p{font-size: 15px; font-weight: bold;}
.space_wrp div{border-bottom:1px solid #EDEDED; margin-bottom: 15px;}
